@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --verde-billete: #1A4730;
  --verde-claro: #A9CBB7;
  --gris-billete: #BFBFBF;
  --negro-suave: #333333;
  --beige-papel: #F5F3EA;
  --oro-opaco: #C1A875;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
   background: linear-gradient(
    160deg,
    var(--negro-suave) 0%,
    var(--verde-billete) 35%,
    var(--oro-opaco) 100%
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
}